.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2785bb;
  padding: 10px 20px;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 1000;



}

.seacrh-bar{
  position: relative !important;
  z-index: 1100 !important;
}

.main-content{
  padding-top: 60px;
}

