
.biblioteca-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #1e0059, #35007d, #5300a3);
  padding: 40px;
  color: rgb(81, 18, 100);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.biblioteca-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.tarjeta-juego {
  background: #ffffff15;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: rgb(80, 19, 92);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform .2s;
  height: 100%;
}

.tarjeta-juego:hover {
  transform: scale(1.03);
}

.tarjeta-juego img {
  width: 100%;
  height: 200px;
  object-fit: cover; 
  border-radius: 14px;
}

.tarjeta-juego h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.tarjeta-juego p {
  margin: 0;
  font-size: 15px;
}


.btn-detalle {
  margin-top: auto;
  padding: 12px 18px;
  background: #a44fff;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  transition: background .2s;
}

.btn-detalle:hover {
  background: #7b1cd9;
}
.agregar-boton-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.agregar-boton {
  background-color: #8b39a3;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.agregar-boton:hover {
  background-color: #8e44ad;
  transform: scale(1.05);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
}