* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #2e026d, #5a189a);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

.search-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 50px;
}

.nav-links {
  display: flex;
  gap: 25px;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #c77dff;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
}

.search-bar {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  gap: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 6px 8px;
  font-size: 1rem;
  width: 180px;
  color: #000;
}

.search-bar button {
  background-color: #5a189a;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.search-bar button:hover {
  background-color: #2e026d;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: linear-gradient(90deg, #2e026d, #5a189a);
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  .nav-links.open {
    display: flex;
  }

  .right-section {
    margin-right: 0;
  }

  .search-bar {
    top: 60px;
    left: 0;
  }
}

.error-busqueda {
  color: #3d1563; 
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: left;
}


.auth-buttons {
  display: flex;
  gap: 10px;        
  margin-left: 20px; 
}

.auth-buttons button {
  background-color: #7735aa;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.auth-buttons button:hover {
  background-color: #904bd6;
}