.inicio-banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #f1ecec;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  filter: brightness(1.2) contrast(1.2);
  font-family: cursive;

}



.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
}


.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.inicio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 79, 85, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.contenedor-texto {
  background: rgba(120, 112, 121, 0.85);
  padding: 60px 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.titulo {
  font-size: 3.5rem;
  color: #fffafa;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0 0 25px 0;
}

.empezar {
  background-color: #8042b9;
  color: #fffcfc;
  border: none;
  padding: 12px 35px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: cursive;
}

.empezar:hover {
  background-color: #3d0c53;
  transform: scale(1.05);
}


.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s ease;
  z-index: 3;
}

.flecha:hover {
  background: rgba(0, 0, 0, 0.7);
}

.izquierda {
  left: 20px;
}

.derecha {
  right: 20px;
}