.detalle-container {
  min-height: 100vh;
  padding: 30px;
  background: linear-gradient(135deg, #4b0082, #8e44ad);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.detalle-card {
  background: rgba(176, 105, 216, 0.25);
  backdrop-filter: blur(6px);
  padding: 25px;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.detalle-imagen {
  width: 100%;
  aspect-ratio: 16 / 9; 
  object-fit: cover; 
  object-position: center; 
  border-radius: 15px;
  margin-bottom: 20px;
}


.detalle-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.botones-container {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: 0.2s;
}


.editar {
  background-color: #8e44ad;
}

.eliminar {
  background-color: #e74c3c;
}

.volver {
  background-color: #6c5ce7;
}


.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}