.navbar-search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.navbar-search-icon {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 11px;
}

.navbar-search-icon:hover {
  background-color: rgb(250, 248, 248);
  transform: scale(1.2);
  box-shadow: 0 2px 5px rgba(13, 11, 126, 0.3);
}

.navbar-search {
  position: absolute;
  top: 50px; 
  left: 0;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 1000;
  border-bottom-right-radius: 15px;
 
 
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.3s ease;
}

.navbar-search.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.search-input {
  flex: 1;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

.search-btn {
  background-color: #d485db;
  color: rgb(3, 10, 20);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #d1246c;
}


.search-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  text-align: center;
}


